EXPO_PUBLIC_POSTHOG_API_KEY=YOUR_POSTHOG_API_KEY
EXPO_PUBLIC_POSTHOG_HOST=YOUR_POSTHOG_HOST
EXPO_PUBLIC_API_BASE_URL=YOUR_PRODUCTION_API_URL
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YOUR_CLERK_PUBLISHABLE_KEY
EXPO_PUBLIC_POSTHOG_ENABLED=true
SENTRY_AUTH_TOKEN=sntrys_YOUR_TOKEN_HERE